body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* la imagen de fondo: */
  background: url('https://i.pinimg.com/originals/f8/e0/f8/f8e0f8c833652b149899e75775241eb4.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* adaptación: ver luego */
@media(max-width:412px){
  body{
    background-size:220% 100%;
    background-position: 45%;
  }
}
