/* homepage.module.css */
.homeconteiner {
    background-image: url('../../images/home.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    min-height: 100vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.reload {
    width: 35px;
    height: 35px;
    background-image: url('../../icons/icono-actualizar.png');
    background-size: cover;
    cursor: pointer; /* Para indicar que es interactivo */
}

.filterscontainer {
    transform: rotate(-45deg);
    display: flex;
    flex-direction: row;
}
  
.reload, .filterbutton {
    margin: 5px;
}
  
